version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: reporover_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: reporover_backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/reporover_db
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - PINECONE_API_KEY=${PINECONE_API_KEY}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: reporover_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: